
@{
    ViewData["Title"] = "Contact us";
}

<h1>Contact</h1>

<d1>
    <dt>Name:</dt>
    <dd>Achraf Alkhatib</dd>
    <dt>Phone:</dt>
    <dd>0769036544</dd>
    <dt>Email:</dt>
    <dd>aboody5658@hotmail.com</dd>
</d1>