@{ 
    ViewData["Title"] = "Tempurate";
}


<h1>TemperatureCheck</h1>
<div>
    <form method="post">
        <input type="number" name="tempnumb" id="tempnumb" />
        <h1>@ViewBag.outcome</h1>
     </form>
    </div>